<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="icon"
      href="https://freepngimg.com/download/school/23847-3-school-file.png"
      type="image/x-icon"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    {% block head %}
    <title>School Manager</title>
    {% endblock %}
  </head>

  <body>
    <header>
      <div class="links">
        <a href="/teachers">Teachers</a>
        <a href="/students">Students</a>
      </div>
    </header>

    {% block content %} {% endblock %}

    <script src="/script.js"></script>
  </body>
</html>
